<h1 class="has-text-centered title is-1">Transfers</h1>
<div class="card  columns is-mobile">
  <div class="card-content column is-half-mobile has-text-centered">
    <p class="is-size-5">The Total Amount is</p>
  </div>
  <div class="card-content column is-half-mobile has-text-centered">
    <p class="is-size-6"> fgdfg </p>
  </div>
</div>