<h1 class="title is-3 has-text-centered">New Transfer</h1>
<div class="columns column is-half is-offset-one-quarter has-text-centered ">
  <div class="card card-content">
    <%= render 'form', transfer: @transfer %>
    <%= link_to 'Back', transfers_path  %>
  </div>
</div>
