/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bulma";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.color-body {
  height: 100hv;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center !important;
}

.btn-success {
  background: rgb(5,114,74);
  background: linear-gradient(90deg, rgba(5,114,74,1) 0%, rgba(42,121,9,0.9084676106770834) 22%, rgba(109,255,0,1) 100%);
  margin-bottom: 15px;
}

.box-sizes {
  width: 95vw;
  height: 15vh;
  margin-top: 10px;
  font-size: 2rem;
}

.mgt-35 {
  padding-top: 27px;
}

.mr-1 {
  margin-right: 20px !important;
  padding: 10px 20px;
}

.mr-2 {
  padding-top: 10px;
}

.border {
  border: 2px solid whitesmoke;
}

.text-color {
  color: whitesmoke;
}

.border-b {
  border-bottom: solid 2px whitesmoke;
}
