.main-title {
  font-family: 'Pacifico', cursive;
}

.nav-color {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.img-size {
  width: 80px;
  height: 80px;
}

.img-size-avatar {
  width: 280px;
  height: 280px;
  margin: auto;
}
