.main-title {
  font-family: 'Pacifico', cursive;
}

.nav-color {
  background-color: #3772bc !important;
}

.img-size {
  width: 80px;
  height: 80px;
}

.img-size-avatar {
  width: 280px;
  height: 280px;
  margin: auto;
}
